body {
  margin-top: 0;
  padding: 18.5px 70px 0 150px;
  font-family: "Inter", sans-serif;
  background-color: #f5f2eb;
  font-size: 16px;
}

/* HELPER CLASSES */

.btn-style {
  font-family: inherit;
  font-size: 16px;
  border-style: none;
}

button {
  cursor: pointer;
}

.primary-btn {
  color: #000000;
  background-color: #aed6b3;
  width: 183px;
  height: 43px;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 12px 12px 12px 18px;
}

.secondary-btn {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 40px;
  height: 40px;
  width: 120px;
}

.btn-border-none {
  border: none;
}

.p-right {
  padding-right: 10px;
}

.p-left {
  padding-left: 10px;
}
.m-bottom32 {
  margin-bottom: 32px;
}

.m-bottom12 {
  margin-bottom: 12px;
}

.font-weight-700 {
  font-weight: 700;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-400 {
  font-weight: 400;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

a {
  color: black;
  text-decoration: none;
}

.p-color {
  color: #898889;
}

/* HEADER */

.nav-list {
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
}

.nav-list > li {
  margin-right: -5px;
}

.nav-list > li:first-child {
  margin-right: -10px;
}

.global-btn {
  height: 24px;
  width: 24px;
}

.nav-list > li > button:hover {
  color: rgb(53, 181, 53);
}
.nav-list > li > button:active {
  color: rgb(65, 56, 56);
}

.nav-list > li:last-of-type > button:active {
  background-color: #528366;
}

/* SIGN IN FORM */
.signin-div {
  background-color: #ffffff;
  width: 480px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 188px;
  text-align: center;
  padding: 58px 52px 65px;
}

h1 {
  font-size: 40px;
}

.signin-form-btn {
  width: 375px;
  height: 43px;
  color: #ffffff;
  font-weight: 500;
}

h2 {
  opacity: 20%;
  line-height: 1.2;
  font-size: 22px;
}

.formstyle input {
  display: inline-block;
  width: 100%;
  /* width: 376px; */
  /* height: 48px;  */
  border-radius: 8px;
  border: 1px solid #5d5d5d;
  padding: 14.5px 24px;
  box-sizing: border-box;
}
.formstyle input::-moz-placeholder {
  color: #797979;
  margin-left: 14.5px 24px;
}

.formstyle label {
  display: none;
}

.textalign-left {
  text-align: left;
}

.social-media-buttons button:nth-child(2) {
  margin: 0 3px;
}
.social-media-buttons > button:hover,
.formstyle > button:hover {
  background-color: #898889;
}
.social-media-buttons > button:active,
.formstyle > button:active {
  background-color: #528366;
}
.sign-in-text::before {
  content: "—";
}
.sign-in-text::after {
  content: "—";
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-img-class {
  background-image: url(../images/landing-img.png);
  width: 600px;
  height: 600px;

  margin-top: -100px;
}
